@import "tailwindcss";
@theme {
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
  
  --color-paper-light: #fdfbf7;
  --color-paper-dark: #0f172a;

  --font-cairo: "Cairo", sans-serif;
  --font-amiri: "Amiri", serif;
}


.min-h-\[340px\] {
    min-height: 340px;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* @import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"; */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@source "../../index.html"; 

